.TricolorProgressUI {
	--bg-color: #444;
	--text-color: #eee;
	--name-color: #444;
	--name-bg-color: #ddd;
	--progress-border-color: #fff;
}

div.TricolorProgressUI {
	display: flex;
	background-color: var(--bg-color);
	color: var(--text-color);
	border-radius: 6px;
	width: fit-content;
	align-items: center;
	vertical-align: middle;
	padding: 2px;
	margin: 1px;
}

div.TricolorProgressUI span {
	width: auto;
}

div.TricolorProgressUI span.name {
	background-color: var(--name-bg-color);
	color: var(--name-color);
	padding: 0 4px 0 4px;
	margin-right: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	width: 8em;
}

canvas.TricolorProgressUI {
	margin: 0 1px 0 8px;
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--progress-border-color);
	vertical-align: middle;
}