body {
    background-color: #808080;
}

table.calendar {
    border: solid 1px;
    border-collapse: collapse;
}

table.calendar th,
table.calendar td {
    border: solid 1px black;
}

div.timeline {
    width: 18em;
}

div.work {
    border-radius: 2px;
    background-color: #fff;
    width: auto;
    height: fit-content;
}

div.work p {
    margin: 2px;
}

form.control {
    display: inline;
}