body {
    background-color: #ddd;
}

table.calendar {
    border: solid 1px;
    border-collapse: collapse;
}

table.calendar th,
table.calendar td {
    border: solid 1px black;
}

div.work {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    vertical-align: middle;
    background-color: #fff;
    filter: drop-shadow(2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2));
    padding: 2px 1em 2px 1em;
    margin: 4px 2px 4px 0;
    width: 32em;
    height: fit-content;
}

div.work p {
    margin: 2px;
}

div.work p.workname {
    margin: 2px;
    margin-right: auto;
    color: darkgreen;
}

form.control {
    display: inline;
    margin: 0 4px 0 4px;
}

div.timeline {
    position: relative;
    background-color: bisque;
    width: 920px;
    height: 98px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

div.workitem {
    position: absolute;
    background-color: #fff;
    border: solid black 1px;
    width: 38px;
    height: 80px;
    top: 0px;
    left: 0px;
    z-index: 100;
}

div.workgrid {
    position: absolute;
    border: dashed black 1px;
    width: 39px;
    height: 80px;
    top: 0px;
    left: 0px;
    z-index: 90;
}


div.timeslice {
    border-radius: 2px;
    border: solid #000 1px;
    background-color: #fff;
    width: 8em;
    height: 8em;
    overflow: hidden;
    flex-shrink: 0;
}