{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/calendar.css" />
<script>
    window.onload = function () {
        const work_infos = document.getElementById("work_infos").children;
        var dragging_workitem = null;
        var drag_offset_x = null;
        const snap_width = 40;
        for (let i = 0; i < work_infos.length; i++) {
            work_data = work_infos[i].dataset;
            let dom = document.getElementById(work_data.work_id);
            dom.style.left = (i * snap_width).toString() + 'px'
            dom.addEventListener('mouseover', e => {
                if (dragging_workitem == null) {
                    e.target.style.border = '1px solid lime';
                    e.target.style.cursor = 'move';
                }
            });
            dom.addEventListener('mouseleave', e => {
                if (dragging_workitem != null) {
                    if (dragging_workitem === e.target) {
                        return;
                    }
                }
                e.target.style.border = '1px solid black';
            });
            dom.addEventListener('mousedown', e => {
                dragging_workitem = e.target;
                drag_offset_x = e.offsetX;
                dragging_workitem.style.zIndex = 0;
            });
            dom.addEventListener('mouseup', e => {
                dragging_workitem.style.zIndex = 10;
                dragging_workitem = null;
                drag_offset_x = null;
            });
        }
        holder = document.getElementById('itemholder');
        holder.addEventListener('mousemove', e => {
            x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
            obj = holder;
            e_posx = 0;
            if (obj.offsetParent) {
                do {
                    e_posx += obj.offsetLeft - obj.scrollLeft;
                } while (obj = obj.offsetParent);
            }
            snap_x = Math.floor((x - e_posx) / snap_width) * snap_width
            // snap_x = x - e_posx - drag_offset_x;
            if (dragging_workitem != null) {
                dragging_workitem.style.left = snap_x.toString() + 'px';
            }
        });
        holder.addEventListener('mouseup', e => {
            dragging_workitem = null;
            drag_offset_x = null;
        });

    }

</script>
{% endblock %}

{% block body %}
<p><a href="/home">Home</a></p>

<div id="work_infos">
    {% for work in works %}
    <span data-work_id="workitem_{{work.id}}"></span>
    {% endfor %}
</div>


<form action="/addwork" method="post">
    <a><input type="date" name="start_date" value=""></a>
    <a><input type="time" name="start_time"></a>
    <a><input type="time" name="end_time"></a>
    <select name="task_id">
        <option value="None">None</option>
        {% for task in tasks %}
        <option value="{{ task.id }}">{{task.subject}}</option>
        {% endfor %}
    </select>
    <button class="add_button" type="submit">予定追加</button>
</form>

<div class="timeline" id="itemholder">
    {% for work in works %}
    <div class="workitem" id="workitem_{{work.id}}">
        {{ work.task_name }}
        <details>
            <summary>...</summary>
            <form class="control" action="/editwork_task" method="post">
                <input type="id" name="work_id" value="{{work.id}}" hidden>
                <select name="task_id">
                    {% for task in tasks %}
                    <option value="{{ task.id }}">{{task.subject}}</option>
                    {% endfor %}
                </select>
                <button class="update" type="submit">更新</button>
            </form>
            <form class="control" action="/delete_work" method="post">
                <input type="id" name="work_id" value="{{work.id}}" hidden>
                <button class="delete" type="submit">削除</button>
            </form>
        </details>
    </div>
    {% endfor %}
</div>
<div>
    {% for work in works %}
    <div class="work">
        <p>{{ work.start_time }} ~ {{ work.end_time }} | {{ work.task_name }}
        <form class="control" action="/editwork_task" method="post">
            <input type="id" name="work_id" value="{{work.id}}" hidden>
            <select name="task_id">
                {% for task in tasks %}
                <option value="{{ task.id }}">{{task.subject}}</option>
                {% endfor %}
            </select>
            <button class="update" type="submit">更新</button>
        </form>
        <form class="control" action="/delete_work" method="post">
            <input type="id" name="work_id" value="{{work.id}}" hidden>
            <button class="delete" type="submit">削除</button>
        </form>
        </p>
    </div>
    {% endfor %}
</div>


{% endblock %}