{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/basic.css" />
<script type="text/javascript" src="/static/js/tricolor_progress.js"></script>
<script>
    window.onload = function () {
        const task_infos = document.getElementById("task_infos").children;
        for (let i = 0; i < task_infos.length; i++) {
            task_data = task_infos[i].dataset
            progress_bar = new TricolorProgress(document.getElementById(task_data.task_id), 128, 16);
            progress_bar.Update(task_data.progress_time, task_data.sheduled_time, task_data.man_minute,);
        }
    }
</script>
{% endblock %}

{% block body %}
<p><a href="/projects">プロジェクト一覧</a></p>
<p><a href="/calendar">カレンダー</a></p>

{{ member.display_name }}

{% include 'taskcard.html' %}


{% endblock %}