{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/basic.css" />
<script>

</script>
{% endblock %}

{% block body %}
<p><a href="/projects">プロジェクト一覧</a></p>
<p><a href="/calendar">カレンダー</a></p>

{{ member.display_name }}

<div class="taskpanel">
    {% for task in tasks %}
    <div class="taskcard" id="task_{{task.id}}">
        <p>{{ task.subject }}</p>
        <p>{{ task.asigned_member_name }}</p>
        <p>{{ task.progress_time }} / {{ task.sheduled_time }}</p>
    </div>
    {% endfor %}
</div>



{% endblock %}