{% extends 'base.html' %}

{% block body %}
<form id="login_form" name="login_form" method="post">
    <div class="login_form_top">
        <h1>ログイン画面</h1>
        <p>ユーザーID、パスワードをご入力の上、「ログイン」ボタンをクリックしてください。</p>
    </div>
    <div class="login_form_btm">
        <p><input type="id" name="user_id" placeholder="ユーザーIDを入力してください"></p>
        <p><input type="password" name="password" placeholder="パスワードを入力してください"></p>
    </div>
    <button id="login_button" type="submit">ログイン</button>
</form>
{% endblock %}