{% extends 'base.html' %}
{% block head %}
<title>Projects</title>
<link rel="stylesheet" href="/static/css/projects.css" />
{% endblock %}

{% block body %}
<p><a href="/home">Home</a></p>

<div id="addproject">
    <form action="/addproject" method="post">
        <p> プリジェクト名：<input type="text" name="project_name"></p>
        <p>プロジェクト開始日：<input type="date" name="start_date"></p>
        <p>プロジェクト終了日：<input type="date" name="expected_finish_date"></p>
        <button id="login_button" type="submit">プロジェクト追加</button>
    </form>
</div>

<div class="frame">
    {% for project in projects %}
    <div class="projectboard" id="project_{{project.id}}">
        <a href="/projectedit?id={{project.id}}">
            <h3>{{ project.display_name }}</h3>
        </a>
        <p>{{ project.start_date }}</p>
        <p>{{ project.expected_finish_date }}</p>
        <p>タスク数: {{ project.task_count }}</p>
        <p>作業進捗率</p>
    </div>
    {% endfor %}
</div>


{% endblock %}