{% extends 'base.html' %}
{% block head %}
<title>Projects</title>
<link rel="stylesheet" href="/static/css/basic.css" />
<link rel="stylesheet" href="/static/css/projects.css" />
{% endblock %}

{% block body %}
<p><a href="/home">Home</a></p>
<p><a href="/newproject">プロジェクト追加</a></p>

<div class="frame">
    {% for project in projects %}
    <div class="projectboard" id="project_{{project.id}}">
        <a href="/projectedit?id={{project.id}}">
            <h3>{{ project.display_name }}</h3>
        </a>
        <p>期間：{{ project.start_date }} ~ {{ project.expected_finish_date }}</p>
        <p>タスク数: {{ project.task_count }}</p>
        <p>作業進捗率</p>
    </div>
    {% endfor %}
</div>


{% endblock %}