{% extends 'base.html' %}
{% block head %}
<title>Projects</title>
<link rel="stylesheet" href="/static/css/basic.css" />
<link rel="stylesheet" href="/static/css/projects.css" />
<style>
    div.grapharea {
        position: relative;
    }

    canvas.network {
        position: absolute;
        background-color: #444;
    }

    div.dfd_deliverable {
        border-radius: 4px;
        background-color: #fff;
        filter: drop-shadow(2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2));
        display: inline;
        vertical-align: middle;
        position: absolute;
        text-align: center;
        align-items: center;
        margin: 0px;
    }

    div.dfd_task {
        border-radius: 8px;
        background-color: #fff;
        filter: drop-shadow(2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2));
        display: inline;
        vertical-align: middle;
        position: absolute;
        text-align: center;
        align-items: center;
        margin: 0px;
    }

    div.focused {
        background-color: aquamarine;
    }

    .contextmenu {
        border-radius: 4px;
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        width: fit-content;
        height: fit-content;
        border: 0px solid #000;
        background-color: #ddd;
        filter: drop-shadow(4px 4px 2px rgba(0.2, 0.2, 0.2, 0.2));
        z-index: 10;
    }

    .contextmenu ul {
        padding: 0.5rem;
        margin: 0px;
    }

    .contextmenu li {
        border-radius: 2px;
        padding: 2px;
        margin: 2px;
        cursor: pointer;
        list-style: none;
    }

    .contextmenu li:hover {
        background-color: #aaa;
    }
</style>
{% endblock %}

{% block body %}
<p><a href="/home">Home</a></p>

<div>
    <form id="task_editor" class="taskeditor" action="/updatetaskdepend" method="post">
        <input type="text" id="task_id" name="task_id" value="" hidden>
        <input type="text" id="depends" name="depends" value="" hidden>
        <table>
            <tr>
                <th>タスク名</th>
                <td><input type="text" id="task_subject" name="subject" value=""></td>
            </tr>
            <tr>
                <th>作業者</th>
                <td> <select name="assigned_member_id" size="1">
                        <option id="assign_None" value="None" selected>未割り当て</option>
                        {% for member in members %}
                        <option id="assign_{{member.id}}" value="{{member.id}}">{{ member.display_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>依存物</th>
                <td>
                    {% for deliverable in dfd_deliverables %}
                    <input type="checkbox" id="input_deliverable_{{deliverable.id}}"><label for="input_deliverable_{{deliverable.id}}">{{ deliverable.label }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>説明</th>
                <td><input type="text" name="description" value=""></td>
            </tr>
        </table>
        <button id="updatetask" type="button" onclick="submitTask()">更新</button>
    </form>
</div>
<div>
    <form id="deliverable_editor" class="deliverableeditor" action="/updatedeliverable" method="post">
        <input type="text" id="deliverable_id" name="deliverable_id" value="" hidden>
        <table>
            <tr>
                <th>成果物名</th>
                <td><input type="text" id="deliverable_label" name="deliverable_label" value=""></td>
            </tr>
            <tr>
                <th>生成タスク</th>
                <td> <select name="producer_task_id" size="1">
                        <option id="priducer_task_None" value="None" selected>未割り当て</option>
                        {% for dfd_task in dfd_tasks %}
                        <option id="priducer_task_{{dfd_task.id}}" value="{{dfd_task.id}}">{{ dfd_task.subject }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>説明</th>
                <td><input type="text" name="description" value=""></td>
            </tr>
        </table>
        <button id="updatedeliverable" type="button" onclick="submitDeliverable()">更新</button>
    </form>
</div>

<div id="contextmenu" class="contextmenu">
    <ul>
        <li id="add_deliverable">+成果物追加</li>
        <li id="add_task">+タスク追加</li>
    </ul>
</div>

<div id="task_menu" class="contextmenu">
    <ul>
        <li id="change_display_name">+名前の変更</li>
        <li id="add_input_deliverable">+依存物を追加</li>
        <li id="add_output_deliverable">+成果物を追加</li>
        <li id="change_asign_member">+担当者を変更</li>
    </ul>
</div>

<div id="deliverable_menu" class="contextmenu">
    <ul>
        <li id="change_display_name">+名前の変更</li>
        <li id="change_production_task">+生成タスクを変更</li>
    </ul>
</div>


<div id="dfd_meta" data-num-deliverables="{{dfd_deliverables | length}}" data-num-tasks="{{dfd_tasks | length}}">
</div>
<div id="task_to_deliverable_edges">
    {% for edge in task_to_deliverable_edges %}
    <span data-edge='{"task_id":{{edge.task_id}}, "deliverable_id":{{edge.deliverable_id}}}'></span>
    {% endfor %}
</div>
<div id="deliverable_to_task_edges">
    {% for edge in deliverable_to_task_edges %}
    <span data-edge-task-id="{{edge.task_id}}" data-edge-depend-deliverable-id="{{edge.deliverable_id}}"></span>
    {% endfor %}
</div>
<div id="deliverable_list">
    {% for dfd_deliverable in dfd_deliverables %}
    <span data-deliverable-id="{{dfd_deliverable.id}}" data-deliverable-label="{{dfd_deliverable.label}}" data-deliverable-production-task-id="{{dfd_deliverable.production_task_id}}"></span>
    {% endfor %}
</div>
<div id="task_list">
    {% for dfd_task in dfd_tasks %}
    <span data-task-id="{{dfd_task.id}}" data-task-subject="{{dfd_task.subject}}" data-task-assigned-member-id="{{dfd_task.assigned_member_id}}"></span>
    {% endfor %}
</div>
<div class="grapharea">
    <canvas id="network" class="network" width="800px" height="800px"></canvas>
    {% for deliverable in dfd_deliverables %}
    <div class="dfd_deliverable" id="deliverable_{{deliverable.id}}" tabindex=0><span>{{deliverable.label}}</span></div>
    {% endfor %}
    {% for task in dfd_tasks %}
    <div class="dfd_task" id="task_{{task.id}}" tabindex=0><span>{{task.subject}}</span></div>
    {% endfor %}
</div>

<script src="https://frogcat.github.io/canvas-arrow/canvas-arrow.js"></script>
<script>
    const GRID_SIZE = 16;
    const task_list = {};
    const deliverable_list = {};

    class Task {
        constructor(id, subject, assgned_member_id) {
            this.id = id;
            this.subject = subject;
            this.assgned_member_id = assgned_member_id;
            this.depends = new Set();
        }
    }

    class Deliverable {
        constructor(id, label, producer_id) {
            this.id = id;
            this.label = label;
            this.producer_id = producer_id;
        }
    }


    function addContextMenu(element, contextMenuId) {
        element.oncontextmenu = function () {
            return false;
        };
        element.addEventListener('contextmenu', function (e) {
            document.getElementById(contextMenuId).style.left = e.pageX + "px";
            document.getElementById(contextMenuId).style.top = e.pageY + "px";
            document.getElementById(contextMenuId).style.display = "block";
            return false;
        });
        element.addEventListener('click', function (e) {
            document.getElementById(contextMenuId).style.display = "none";
        });
        element.addEventListener('blur', function (e) {
            document.getElementById(contextMenuId).style.display = "none";
        });
    }
    function setTask(task_id) {
        document.getElementById('task_id').value = task_id;
        const task = task_list[task_id];
        document.getElementById('task_subject').value = task.subject;
        for (let deliverable_id in deliverable_list) {
            document.getElementById(`input_deliverable_${deliverable_id}`).checked = task.depends.has(deliverable_id);
        }
        document.getElementById(`assign_${task.assgned_member_id}`).selected = true;
    }
    function submitTask() {
        const dependDeliverableIds = new Set();
        for (let deliverable_id in deliverable_list) {
            if (document.getElementById(`input_deliverable_${deliverable_id}`).checked) {
                dependDeliverableIds.add(deliverable_id);
            }
        }
        let deliverable_id_record = "";
        for (let deliverable_id of dependDeliverableIds) {
            deliverable_id_record += deliverable_id + ",";
        }
        document.getElementById("depends").value = deliverable_id_record;
        document.getElementById("task_editor").submit();
    }
    function setDeliverable(deliverable_id) {
        const deliverable = deliverable_list[deliverable_id];
        console.log(deliverable.producer_id);
        document.getElementById('deliverable_id').value = deliverable.id;
        document.getElementById('deliverable_label').value = deliverable.label;
        document.getElementById(`priducer_task_${deliverable.producer_id}`).selected = true;
    }

    function submitDeliverable() {
        document.getElementById("deliverable_editor").submit();
    }

    function drawArrow(canvas, start_x, start_y, target_x, target_y) {
        const context = canvas.getContext("2d");
        context.beginPath();
        context.strokeStyle = "#afa";
        context.fillStyle = "#afa";
        context.lineWidth = 0;
        context.arrow(GRID_SIZE * start_x, GRID_SIZE * start_y, GRID_SIZE * target_x, GRID_SIZE * target_y, [0, 6, -10, 6, -10, 10]);
        context.fill();
        context.stroke();
    }

    function initialize() {
        const numDeliverables = parseInt(document.getElementById("dfd_meta").dataset.numDeliverables);
        const numTasks = parseInt(document.getElementById("dfd_meta").dataset.numTasks);
        tasks = document.getElementById("task_list").children
        for (let i = 0; i < tasks.length; i++) {
            const taskId = tasks[i].dataset.taskId;
            task = new Task(taskId, tasks[i].dataset.taskSubject, tasks[i].dataset.taskAssignedMemberId);
            edges = document.getElementById("deliverable_to_task_edges").children
            for (let j = 0; j < edges.length; j++) {
                if (parseInt(taskId) == parseInt(edges[j].dataset.edgeTaskId)) {
                    task.depends.add(edges[j].dataset.edgeDependDeliverableId);
                }
            }
            task_list[taskId] = task;
        }
        deliverables = document.getElementById("deliverable_list").children
        for (let i = 0; i < deliverables.length; i++) {
            const deliverableId = deliverables[i].dataset.deliverableId;
            deliverable = new Deliverable(deliverableId, deliverables[i].dataset.deliverableLabel, deliverables[i].dataset.deliverableProductionTaskId)
            deliverable_list[deliverableId] = deliverable;
        }
        function SetPosition(element, w, h, left, top) {
            element.style.left = (GRID_SIZE * left + 1).toString() + 'px';
            element.style.top = (GRID_SIZE * top + 1).toString() + 'px';
            element.style.width = (GRID_SIZE * w - 2).toString() + 'px';
            element.style.height = (GRID_SIZE * h - 2).toString() + 'px';
        }
        let i = 0;
        for (let deliverable_id in deliverable_list) {
            const element = document.getElementById(`deliverable_${deliverable_id}`);
            element.addEventListener('focus', e => { e.target.classList.add('focused'); setDeliverable(deliverable_id); });
            element.addEventListener('blur', e => { e.target.classList.remove('focused'); });
            addContextMenu(element, "deliverable_menu");
            SetPosition(element, 8, 2, 0, i * 2);
            i++;
        }
        i = 0;
        for (let task_id in task_list) {
            const element = document.getElementById(`task_${task_id}`);
            element.addEventListener('focus', e => { e.target.classList.add('focused'); setTask(task_id); });
            element.addEventListener('blur', e => { e.target.classList.remove('focused'); });
            addContextMenu(element, "task_menu");
            SetPosition(element, 8, 2, 12, i * 2);
            i++;
        }

        const canvas = document.getElementById("network");
        addContextMenu(canvas, 'contextmenu');
        document.getElementById("add_deliverable").addEventListener('click', function (e) {
            document.getElementById('contextmenu').style.display = "none";
        });
        document.getElementById("add_task").addEventListener('click', function (e) {
            document.getElementById('contextmenu').style.display = "none";
        });
        drawArrow(canvas, 8, 1, 12, 1);
    }
    initialize();
</script>
{% endblock %}