{% extends 'base.html' %}
{% block head %}
<title>Projects</title>
<link rel="stylesheet" href="/static/css/basic.css" />
<link rel="stylesheet" href="/static/css/projectedit.css" />
<script type="text/javascript" src="/static/js/tricolor_progress.js"></script>
<script>
    window.onload = function () {
        const task_infos = document.getElementById("task_infos").children;
        for (let i = 0; i < task_infos.length; i++) {
            task_data = task_infos[i].dataset
            progress_bar = new TricolorProgress(document.getElementById(task_data.task_id), 128, 16);
            progress_bar.Update(task_data.progress_time, task_data.sheduled_time, task_data.man_minute,);
        }
    }
</script>
{% endblock %}

{% block body %}
<p><a href="/projects">Projects</a></p>
<h2> {{project.display_name}} </h2>

<div id="addtaskform">
    <form id="addtask" action="/addtask" method="post">
        <input type="id" name="project_id" value="{{ project.id }}" hidden>
        <p><input type="text" name="subject"></p>
        <p><input type="text" name="description"></p>
        <select name="assigned_member_id" size="1">
            {% for member in members %}
            <option value="{{member.id}}">{{ member.display_name }}</option>
            {% endfor %}
        </select>
        <select name="reviewer_id" size="1">
            {% for member in members %}
            <option value="{{member.id}}">{{ member.display_name }}</option>
            {% endfor %}
        </select>
        <button id="addtask" type="submit">タスク追加</button>
    </form>
</div>
<div id="adddeliverableform">
    <form id="adddeliverable" action="/adddeliverable" method="post">
        <input type="id" name="project_id" value="{{ project.id }}" hidden>
        <p><input type="text" name="label"></p>
        <p><input type="text" name="description"></p>
        <button id="adddeliverable" type="submit">成果物追加</button>
    </form>
</div>

<div>
    {% for deliverable in deliverables %}
    <div class="taskcard">成果物：{{deliverable.label}}</div>
    {% endfor %}
</div>

{% include 'taskcard.html' %}


{% endblock %}