<form class="taskeditor" action="/updatetask" method="post">
    <input type="text" id="task_id" name="task_id" value="" hidden>
    <input type="text" id="depends" name="depends" value="" hidden>
    <table>
        <tr>
            <th>タスク名</th>
            <td><input type="text" id="task_subject" name="subject" value=""></td>
        </tr>
        <tr>
            <th>作業者</th>
            <td> <select name="asigned_member_id" size="1">
                    <option value="" selected>未割り当て</option>
                    {% for member in members %}
                    <option value="{{member.id}}">{{ member.display_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>依存物</th>
            <td>
                {% for deliverable in dfd_deliverables %}
                <input type="checkbox" id="input_deliverable_{{deliverable.id}}"><label for="input_deliverable_{{deliverable.id}}">{{ deliverable.label }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>説明</th>
            <td><input type="text" name="description" value=""></td>
        </tr>
    </table>
    <button id="updatetask" type="submit">更新</button>
</form>